.admin-user-table {
    margin-top: -24px;
    padding: 10px;

    .header {
        padding: 15px;
        height: 60px;
        line-height: 60px;
        background: #fff;
        border-radius: 7px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
}