.quill-editor-custom {
    width: 100%;

    .quill {
        position: relative !important;
        padding-top: 43px;

        .ql-toolbar {
            position: sticky;
            top: 0px;
            width: 100%;
            background-color: white;
            z-index: 1;
        }
    }
}